body {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}


main {
  margin: 0 auto;
  height: 90vh;
  margin-top: 10vh;
  width: 90vw;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

h1{
  font-size: 45px;
  font-weight: 800;
}

h2{
  font-size: 28px;
  font-weight: 600;
}



h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
  margin: 4px 0;
  font-style: normal;

}

#links-left p {
  padding: 15px 10px;
  margin: 5px 0;
  cursor: pointer;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  &:hover {
    box-shadow: inset 30vw 0 0 0 #0000003d;
    color: rgb(241, 241, 241);
    color: invert;
  }
}

#links-left {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.project-image {
  border-radius: 7px;
  width: 35vw;
  border: solid 1px black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.315);
}

#left {
  width: 35vw;

}

#right {
  width: 55vw;
}

#ProjectsDiv {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  animation-duration: 1s;
  animation-name: slidein;
  overflow: auto;
  scrollbar-width: none;
}


.mesProjets {
  margin: 10px 0;
  background-color: #cad5da00;
  padding: 0;
  border-radius: 7px;
  animation-duration: .7s;
  height: 100%;
  &:hover{
    border: solid .1px black;
    animation-name: changeProjectColor;
    background-color: #cad5da;
  }
}

.mesProjets h3 {
  display: none;
  animation-duration: .5s;
  width: calc(35vw-20px);
  animation-name: slideinProject;
  padding: 1px 10px;
  margin: 2vh 0;
}

.mesProjets p{
  display: none;
  animation-duration: .5s;
  width: calc(35vw-20px);
  animation-name: slideinProject;
  padding: 1px 10px;
  margin: 2vh 0;
}


.mesProjets p{
  width: 30vw;
}


@keyframes slidein {
  from {
    position: fixed;
    top: -200%;
    right: 5vw;
    height: 100%;
  }

  to {
    top: 10vh;
    right: 5vw;
    position: absolute;
    margin-bottom: 0%;
  }
}


@keyframes slideinProject {
  from {
    margin-top: 0;
    opacity: 0;
  }

  to {
    margin-top: 2vh;
    opacity: 100%;
    height: auto;
  }
}


@keyframes changeProjectColor {
  from {
    height: 40%;
    background-color: rgba(22, 22, 22, 0);
  }

  to {
    height: 100%;
    background-color: #cad5da;

  }
}

.yes{
  text-decoration: underline rgba(0, 6, 15, 0.733) 2px;
}

